
#question {
background-color: rgba(0, 0, 0, 0.1);
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: lightslategray;
  padding-left: 5px;
}
#answer {
background-color: lightyellow;
border-left-width: 5px;
border-left-style: solid;
border-left-color: lightslategray;
padding-left: 5px;

}
